streamlit
scikit-learn
networkx
plotly
reportlab
beautifulsoup4
pytest
geoip2
pydantic
python-multipart
joblib
pandas
cryptography
requests
opencv-python-headless
numpy

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
